<h1>
  Task: <%= @task.title %>
</h1>

<h3>Details: <em><%= @task.details %></em></h3>

<% if @task.details == true %>
  <%= "[X] Task is completed" %>
<% else %>
  <%= "[ ] Task is not completed yet" %>
<% end %>
<br>
<br>
<%= link_to "Back to tasks list", tasks_path %>
